<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title><%= page.title %></title>
<meta name="keywords" content="в ролях актеры, русская озвучка, дата выхода, рейтинги кинопоиска и imdb, hdrezka, rezka, хдрезка, резка, ндрезка">
<link rel="preconnect" href="https://hdrezka.by">
<link rel="dns-prefetch" href="https://hdrezka.by">
<link rel="canonical" href="<%- page.url.replace('/mobile-version', '') %>">
<link rel="next" href="/type/фильмы%2Cсериалы%2Cмультфильмы%2Cмультсериалы%2Cаниме%2Cтв%20шоу/2"/>
<link rel="apple-touch-icon" sizes="180x180" href="/themes/default/public/mobile/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/themes/default/public/mobile/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/themes/default/public/mobile/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/themes/default/public/mobile/manifest.json">
<link rel="mask-icon" href="/themes/default/public/mobile/safari-pinned-tab.svg">
<link rel="stylesheet" type="text/css" href="/themes/default/public/mobile/custom/css/mobile.style.css">

<meta name="theme-color" content="#ffffff">

<%- page.codes.head %>
